<!DOCTYPE html>
<html>
<head>
	<title>PushPros</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- included all bootstarp css,js and handlebars js from cdn. it helps in faster response -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
</head>
<body>
<div class="container">
<div style="text-align:center">
  <h2>Sample Table</h2>
  <p>You should able to recreate this table...</p>  
</div>
<div class="btn btn-primary" id='button'style="float:right">Load Data</div> 
</div>	
<script id="mytable" type="text/x-handlebars-template"> 
<div class="container-fluid">
<table class='table' id='mytableresponse'>
    <thead> 
        <th>id</th> 
        <th>name</th> 
        <th>url</th> 
    </thead> 
    <tbody> 
        {{#sites}} 
        <tr> 
            <td>{{id}}</td> 
            <td>{{name}}</td> 
            <td><a href="#">{{url}}</a></td> 
        </tr> 
        {{/sites}} 
    </tbody> 
</table> 
</div>
</script>
<script>  
$(document).ready(function () {
	// on ready page, first load table with blank values.
	var data = {"sites": [{
		"id": '',
		"uid": "",
		"url": "",
		"name": "",
		"icon": "",
		"promptId": 0,
		"webPushID": null,
		"auto_prompt": 0,
		"createdAt": "2015-09-10 00:45:47",
		"active": 1
	}]};
	var source = $("#mytable").html(); 
	var template = Handlebars.compile(source); 
	$('body').append(template(data));
	// loading table with blank value end here.
	
	//code starts after clicking the load data button from aimtell api.
	
        $("#button").click(function (e) {
			// as the aimtell api is CORS enabled, so we need send request using cors.
           var createCORSRequest = function(method, url) {
			  var xhr = new XMLHttpRequest();
			  if ("withCredentials" in xhr) {
				// Most browsers.
				xhr.open(method, url, true);
			  } else if (typeof XDomainRequest != "undefined") {
				// IE8 & IE9
				xhr = new XDomainRequest();
				xhr.open(method, url);
			  } else {
				// CORS not supported.
				xhr = null;
			  }
			  return xhr;
			};

			var url = 'https://aimtell.com/files/sites.json';
			var method = 'GET';
			var xhr = createCORSRequest(method, url);

			xhr.onload = function() {
				var data = JSON.parse(xhr.responseText);
				var source = $("#mytable").html(); 
				var template = Handlebars.compile(source); 
				$('#mytableresponse').html(template(data));  
			};

			xhr.onerror = function() {
			  console.log('error occured.');
			};

			xhr.send();
            });
        });
	// code ends here  
    </script>
</body>
</html>